.productItem {
  box-shadow: 0px 0px 10px rgb(209, 209, 209);
  border: 1px solid grey;
  width: 300px;
  margin: 10px;
  height: 265px;
  display: flex;
  flex-direction: column;
  transition: all 1s ease-in;
}
.productItem img {
  width: 300px;
  height: 87%;
}

.productDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 13%;
  background-color: #ebe0d1;

  border: 2px solid black;
}

.productDetails .title,
.productDetails p {
  padding: 0px;
  text-align: center;
}

.productDetails .title {
  width: 70%;
  overflow: hidden;
}
.productDetails .title:hover {
  overflow: visible;
  z-index: 4;
}

.productDetails .id {
  width: 30px;
  text-align: center;
}

.productDetails .price {
  color: #1bc71b;
  margin: 0px;
  text-align: center;
  width: 25%;
}
