.productItem {
  /* width: 200px; */
  /* padding: 20px; */
  box-shadow: 0px 0px 10px rgb(209, 209, 209);
  border: 1px solid grey;
  width: 300px;
  margin: 10px;
  height: 280px;
  display: flex;
  flex-direction: column;
  transition: all 1s ease-in;
}
.productItem img {
  width: 300px;
  height: 250px;
}

.productDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productDetails .title,
.productDetails p {
  /* padding: 10px; */
  margin: auto 5px;
  width: 25%;
}

.productDetails .title {
  width: 70%;
  height: 21px;
  overflow: hidden;
}

.productDetails .id {
  border: 1px solid;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
